<!doctype html>
<html lang="en">
<head>
  {% include header.html %}
</head>
<body>
<div id="vid_wrapper">
  <video autoplay muted loop >
  	<source src="assets/video.mp4" type="video/mp4">
  </video>
</div>
<div id="splash">
	<div id="splash_inner">
		<div id="splash_img"><img alt="" src="assets/prawn.png"/></div>
		<p id="splash_text">Artificial intelligence, humanised</p>
	</div>
  <div id="scrollButton">
    <a href=""><span></span></a>
  </div>
  <img alt="" src="assets/slider-logo.png" id="ebiai_logo"/>
</div>

<div class="overview block" id="overview">
  <div class="inner_block">
  	<h1>
  		<span>Overview</span>
  	</h1>
  	<div class="block_row">
  		<div class="block_img">
  			<img alt="" data-aos="flip-right" data-aos-duration="1000" data-aos-delay="200" src="assets/hello.png" />
  		</div>
  		<div class="block_text">
  			<p data-aos="zoom-in-left" data-aos-delay="200"  class="block_text_p">If you’re looking for an indispensable new team member, you just found it. That team member is a chatbot…</p>
  		</div>
  	</div>
  	<div class="block_row">
  		<div class="block_text">
  			<p data-aos="zoom-in-right" data-aos-delay="200" >A programmable virtual agent that automatically responds in natural language to limitless user requests as soon as they come in.</p>
  		</div>
  		<div class="block_img">
  			<img alt="" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200"src=" assets/robot-text.png" />
  		</div>
  	</div>
  	<div class="block_row">
  		<div class="block_img">
  			<img alt="" data-aos="flip-right" data-aos-duration="1000" data-aos-delay="200" src="assets/faq.png" />
  		</div>
  		<div class="block_text">
  			<p data-aos="zoom-in-left" data-aos-delay="200" >Consumer enquiries… FAQs… transactions… pretty much anything your call centre would normally deal with. You name it, a chatbot handles it like a pro.</p>
  		</div>
  	</div>
  	<div class="block_row">
  		<div class="block_text">
  			<p data-aos="zoom-in-right" data-aos-delay="200" >The industry use possibilities are endless. Chatbots interact with consumers, are trained to make decisions without asking a superior, and take the weight off your call centre (and shoulders) as a result.</p>
  		</div>
  		<div class="block_img">
  			<img alt="" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200" src="assets/answer-1.png" />
  		</div>
  	</div>
  	<div class="block_row">
  		<div class="block_img">
  			<img alt="" data-aos="flip-right" data-aos-duration="1000" data-aos-delay="200" src="assets/got-it-1.png" />
  		</div>
  		<div class="block_text">
  			<p data-aos="zoom-in-left" data-aos-delay="200" >You don’t have to add them to payroll or continually pay to train them, but they always turn up and you’re always learning. Whether you’re looking to automate claims processing, offer technical support, or take hotel reservations, a chatbot does it all with ease and exceptional reliability. There’s no chance of it going rogue, iRobot style.</p>
  		</div>
  	</div>
  	<div class="block_row">
  		<div class="block_text">
  			<p data-aos="zoom-in-right" data-aos-delay="200" >Remember when Facebook was the new big thing? It’s now the norm. One website revolutionised the way we live life and do business online and it’s almost impossible to imagine a world without it. Messenger apps are now more popular than social networks, so if your customers are hanging out in places like Slack, Skype and Facebook Messenger every day, that’s where you need to be.</p>
  		</div>
  		<div class="block_img">
  			<img alt="" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200" src="assets/app-social.png" />
  		</div>
  	</div>
  </div>
</div>

<div class="anti_block">
<p>"Stena Line Ferries has already saved a boatload of money thanks to their bespoke chatbot (pun absolutely intented)."</p>
<p class="author">Amer Mohammed, CEO, Stena Line Ferries</p>
</div>

<div class="features block">
  <div class="inner_block">
  	<h1><span>Features</span></h1>
    <ul tabs show-titles>
      <li>
        <input type="radio" name="t" id="tab1" checked>
        <label for="tab1">cost</label>
        <div tab-content  >
          <div class="panel" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="500">
            <img alt="" src="assets/feature1.png"/>
            <h3>Save up to 90% on your call centre costs boom</h3>
          </div>
          <div class="panel" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="500">
            <img alt="" class="full_img" src="assets/profit.png"/>
            <p>When the average consumer call to your support centre costs money but earns you squat.</p>
            <p>It’s easy to see where your business is bleeding profit. Red calls don’t make revenue, so why pay to have a human deal with them?</p>
            <img alt="" class="full_img" src="assets/feature3.png"/>
            <p>Chatbots cost pennies per interaction.</p>
            <p>That’s a whopping potential saving over the cost of a human operator. Depending on what business you’re in, that could equate to a saving of thousands every year – or hundreds of thousands – or millions.</p>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="t" id="tab2">
        <label for="tab2">efficiency</label>
        <div tab-content>
          <div class="panel">
            <img alt="" src="assets/feature4.png"/>
            <h3>Turbocharge your business efficiency</h3>
            <p>Productivity has never been so easy to accelerate (and it’s never been cooler, either)…</p>
          </div>
          <div class="panel">
            <p>Rather than just ‘building a bot,’ we carefully interface a chatbot with existing systems and processes, so it slots seamlessly into the familiar fabric of your business.</p>
            <img alt="" class="full_img" src="assets/feature5.png"/>
            <p>Your staff only have a short, gentle learning curve and you can worry less about the time [and money] being wasted due to high turnover of staff because your chatbot will be loyal for life.</p>
            <p>But that’s not even the best part. A bot can respond to an infinite number of enquiries, 24/7. Not even a superhuman can be so productive.</p>
            <img alt="" class="full_img" src="assets/answer.png"/>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="t" id="tab3">
        <label for="tab3">intuition</label>
        <div tab-content>
            <div class="panel">
              <h3>Provide personalised responses without recruiting more staff.</h3>
              <img alt="" src="assets/IBM-watson.png"/>
              <p>IBM Watson, the pioneering platform we currently use to build a chatbot, allows it to run like a machine but think like a human…</p>
            </div>
            <div class="panel">
              <p>As well as answering standard enquiries, it has intuitive conversation with consumers and even processes transactions.</p>
              <img alt="" src="assets/intuitive-conversations.png"/>
              <p>Every interaction is securely logged, so the bot naturally learns personalised responses and develops intelligent conversational skills, just like a human would.</p>
              <p>The user receives a top notch personal service without relying on your overwhelmed support team being available and on form.</p>
            </div>
        </div>
      </li>
      <li>
        <input type="radio" name="t" id="tab4">
        <label for="tab4">program</label>
        <div tab-content>
          <div class="panel">
            <h3>Program your business for success.</h3>
            <img alt="" src="assets/updating.png"/>
            <p>Chatbots are not only 100% programmable, they’re nurtured, so you can train them on what to do and they learn to do it exceptionally quickly, no questions asked.</p>
            <p>[Ditto no morning meetings or performance appraisals.]</p>
          </div>
          <div class="panel">
            <p>Every bot is bespoke and built into existing systems and processes, which means they become smarter all on their own.</p>
            <img alt="" src="assets/247-1.png"/>
            <p>And because they’re awake 24/7, you can sleep safe in the knowledge that customers are being looked after round the clock.</p>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="t" id="tab5">
        <label for="tab5">technology</label>
        <div tab-content>
          <div class="panel">
            <h3>Create a slick user experience with complex technology.</h3>
            <img alt="" src="assets/slick-user-exp.png"/>
            <p>Chatbot technology has come on light years in the last year alone.</p>
            <p>Super smart and specialised algorithms allow chatbots to communicate more like humans than ever before.</p>
          </div>
          <div class="panel">
            <img alt="" src="assets/simple-questions.png"/>
            <p>A bot handles simple questions like “what time do you open?” to actual transactions, such as making a reservation or buying a ticket.</p>
            <img alt="" src="assets/code.png"/>
            <p>This isn’t cookie-cutter, our of the box software, and only a handful of developers in the world can create such an intelligent application.</p>
            <p>The better the bot is built, the simpler and smoother the user experience will be.</p>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="t" id="tab6">
        <label for="tab6">simplicity</label>
        <div tab-content>
          <div class="panel">
            <h3>Save your customers’ sanity – and your own.</h3>
            <img alt="" src="assets/simplicity-human3-1.png"/>
            <p>Fact: you can only have so many people working in your call centre.</p>
            <p>Outsourcing to a helpdesk is huge additional expense, and high rates of absence and staff turnover only add to the pressure to deliver super customer service…</p>
          </div>
          <div class="panel">
            <p>Inevitably, this can lead to frantic call handling, people being put on hold for long periods of time, and thoroughly disgruntled callers. [You know the ones.]</p>
            <img alt="" src="assets/call-centre-1.png"/>
            <p>Chatbots remove these limitations entirely. Customers can simply open a familiar app and get the answer they’re looking for immediately. Their sanity is saved, and so is yours.</p>
            <img alt="" src="assets/app-flipped.png"/>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="anti_block">
  RBS ARE USING WATSON
	<p>“LUVO FREES ADVISORS FROM SPENDING TIME ON SIMPLE, EASILY-ADDRESSED QUERIES SO THEY CAN HELP CUSTOMERS WITH MORE COMPLEX ISSUES AND QUESTIONS – IMPROVING THE EXPERIENCE OF BOTH PARTIES.”</p>
	<p class="author">JANE HOWARD, HEAD OF PERSONAL BANKING, ROYAL BANK OF SCOTLAND</p>
</div>

<div class="block">
<div class="inner_block">
	<div class="row">
		<div class="column" data-aos="zoom-in">
      <img alt="" src="assets/fast-build-time.png"/>
			<h3>EXCEPTIONALLY FAST BUILD TIME</h3>
      <p>Thanks to our unrivalled experience with this area of development, you can have your bespoke chatbot built, tested, and a minimum viable product ready to launch in around 3 weeks. Which means huge cost savings are just a few beta testers away.</p>
		</div>
		<div class="column" data-aos="zoom-in" data-aos-delay="100">
      <img alt="" src="assets/advanced-tech.png"/>
			<h3>THE MOST ADVANCED TECHNOLOGY</h3>
      <p>When it comes to cognitive virtual assistants, IBM Watson is top of the class. That’s why we use it. But technology is constantly advancing, so depending on your user requirements we’ll choose the software that fits your business best.</p>
		</div>
  </div>
	<div class="row">
		<div class="column" data-aos="zoom-in" data-aos-delay="200">
      <img alt="" src="assets/completely-custom.png"/>
			<h3>COMPLETELY CUSTOMISABLE</h3>
      <p>Your business is unlike any other, which is why all of our chatbots are built from scratch on our own (top secret) chatbot platform. They can be visually branded, programmed to use company tone of voice, and provide a recognisable customer experience that people will want to repeat.</p>
		</div>
		<div class="column" data-aos="zoom-in" data-aos-delay="300">
      <img alt="" src="assets/uses-natural-language.png"/>
			<h3>USES NATURAL LANGUAGE</h3>
      <p>IBM Watson has the best natural language processor on the market today. Conversations and transactions are natural rather than robotic, and it’s far less likely that a chatbot will misunderstand – or that a customer will slip through the cracks.</p>
		</div>
  </div>
	<div class="row">
		<div class="column" data-aos="zoom-in" data-aos-delay="400">
      <img alt="" src="assets/247.png"/>
			<h3>24/7 AVAILABILITY</h3>
      <p>A chatbot doesn’t need sleep. It doesn’t even need coffee. It can work for you 24/7, 365 days a year, and serve hundreds of customers at exactly the same time. Not only does this ease the pressure on your support team, it increases overall productivity.</p>
		</div>
		<div class="column" data-aos="zoom-in" data-aos-delay="500">
      <img alt="" src="assets/responsive.png"/>
			<h3>OPERATES RESPONSIVELY ACROSS ALL PLATFORMS</h3>
      <p>Desktop – check. Tablet – check. Smartphone – check. Amazon Echo – check. (Yes, they’re that advanced.) Whatever platforms your customers are on, your chatbot can be there too. People don’t have to visit your website or make a phone call, they can simply open an app they already have installed.</p>
		</div>
	</div>
</div>
</div>

<div class="anti_block">
	<p>THE FUTURE OF CUSTOMER SERVICE RESTS IN CHATBOTS. LET US BUILD ONE FOR YOU.</p>
</div>

<div class="block">
	<div class="inner_block">
		<h1><span>Contact</span></h1>
		<p>Drop us a line with any queries you might have via the contact form below</p>
    <form>
      <input class="text_input" id="contact_name" type="text" placeholder="name"/>
      <input class="text_input" id="contact_email" type="text" placeholder="e-mail"/>
      <textarea rows="10" class="text_input" id="contact_message" placeholder="message"></textarea>
      <input id="submit" type="submit"/>
    </form>
	</div>
</div>

<footer>
	{% include footer.html %}
</footer>

<script>
var splash_text_data = [
	'Artificial intelligence, humanised',
	'Zoom light years ahead of your competition',
	'Don’t wait for the customer service revolution. Become it.',
	'What if a bot could handle tasks traditionally done by humans? Now, it can.',
	'Watch 40%+ of your call centre costs evaporate',
	'Enterprise-class chatbots for progressive businesses'
];

var splash_text = document.getElementById('splash_text');
var count = 0;

setInterval(()=>{
	count = (count+1)%3;
	splash_text.innerHTML = splash_text_data[count];
}, 10000);

document.querySelector('#scrollButton>a').addEventListener('click', function(e) {
  e.preventDefault();
  document.querySelector('#overview').scrollIntoView({behavior: "smooth"});
});

AOS.init();
</script>
</body>
</html>
