<head>
  {% include header.html %}
</head>

<video playsinline autoplay muted loop poster="assets/polina.png" id="bgvid">
	<source src="assets/EBI-Video-Loop-2.mp4" type="video/mp4">
</video>
<div id="filter"></div>
<div id="splash">
	<div id="splash_inner">
		<div id="splash_img"><img src="assets/slider-logo.png"/></div>
		<p id="splash_text">Artificial intelligence, humanised</p>
	</div>
  <div id="scrollButton">
    <a href=""><span></span></a>
  </div>
</div>

<div class="overview block" id="overview">
  <div class="inner_block">
  	<h1>
  		<span>Overview</span>
  	</h1>
  	<div class="block_row">
  		<div class="block_img">
  			<img data-aos="flip-right" data-aos-duration="1000" data-aos-delay="200" src="assets/hello.png" />
  		</div>
  		<div class="block_text">
  			<p data-aos="zoom-in-left" data-aos-delay="200"  class="block_text_p">If you’re looking for an indispensable new team member, you just found it. That team member is a chatbot…</p>
  		</div>
  	</div>
  	<div class="block_row">
  		<div class="block_text">
  			<p data-aos="zoom-in-right" data-aos-delay="200" >A programmable virtual agent that automatically responds in natural language to limitless user requests as soon as they come in.</p>
  		</div>
  		<div class="block_img">
  			<img data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200"src=" assets/robot-text.png" />
  		</div>
  	</div>
  	<div class="block_row">
  		<div class="block_img">
  			<img data-aos="flip-right" data-aos-duration="1000" data-aos-delay="200" src="assets/faq.png" />
  		</div>
  		<div class="block_text">
  			<p data-aos="zoom-in-left" data-aos-delay="200" >Consumer enquiries… FAQs… transactions… pretty much anything your call centre would normally deal with. You name it, a chatbot handles it like a pro.</p>
  		</div>
  	</div>
  	<div class="block_row">
  		<div class="block_text">
  			<p data-aos="zoom-in-right" data-aos-delay="200" >The industry use possibilities are endless. Chatbots interact with consumers, are trained to make decisions without asking a superior, and take the weight off your call centre (and shoulders) as a result.</p>
  		</div>
  		<div class="block_img">
  			<img data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200" src="assets/answer-1.png" />
  		</div>
  	</div>
  	<div class="block_row">
  		<div class="block_img">
  			<img data-aos="flip-right" data-aos-duration="1000" data-aos-delay="200" src="assets/got-it-1.png" />
  		</div>
  		<div class="block_text">
  			<p data-aos="zoom-in-left" data-aos-delay="200" >You don’t have to add them to payroll or continually pay to train them, but they always turn up and you’re always learning. Whether you’re looking to automate claims processing, offer technical support, or take hotel reservations, a chatbot does it all with ease and exceptional reliability. There’s no chance of it going rogue, iRobot style.</p>
  		</div>
  	</div>
  	<div class="block_row">
  		<div class="block_text">
  			<p data-aos="zoom-in-right" data-aos-delay="200" >Remember when Facebook was the new big thing? It’s now the norm. One website revolutionised the way we live life and do business online and it’s almost impossible to imagine a world without it. Messenger apps are now more popular than social networks, so if your customers are hanging out in places like Slack, Skype and Facebook Messenger every day, that’s where you need to be.</p>
  		</div>
  		<div class="block_img">
  			<img data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200" src="assets/app-social.png" />
  		</div>
  	</div>
  </div>
</div>

<div class="anti_block">
<p>"Stena Line Ferries has already saved a boatload of money thanks to their bespoke chatbot (pun absolutely intented)."</p>
<p class="author">Amer Mohammed, CEO, Stena Line Ferries</p>
</div>

<div class="features block">
  <div class="inner_block">
  	<h1><span>Features</span></h1>
    <ul tabs show-titles>
      <li>
        <input type="radio" name="t" id="tab1" checked>
        <label for="tab1">cost</label>
        <div tab-content>
          <div class="panel">
            <img src="assets/feature1.png"/>
          </div>
          <div class="panel">
            <img class="full_img" src="assets/profit.png"/>
            <img class="full_img" src="assets/feature3.png"/>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="t" id="tab2">
        <label for="tab2">efficiency</label>
        <div tab-content>
          <div class="panel">
            <img src="assets/feature4.png"/>
          </div>
          <div class="panel">
            <img class="full_img" src="assets/feature5.png"/>
            <img class="full_img" src="assets/answer.png"/>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="t" id="tab3">
        <label for="tab3">intuition</label>
        <div tab-content>
            <div class="panel">
              <img src="assets/IBM-watson.png"/>
            </div>
            <div class="panel">
              <img src="assets/intuitive-conversations.png"/>
            </div>
        </div>
      </li>
      <li>
        <input type="radio" name="t" id="tab4">
        <label for="tab4">program</label>
        <div tab-content>
          <div class="panel">
            <img src="assets/updating.png"/>
          </div>
          <div class="panel">
            <img src="assets/247-1.png"/>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="t" id="tab5">
        <label for="tab5">technology</label>
        <div tab-content>
          <div class="panel">
            <img src="assets/slick-user-exp.png"/>
          </div>
          <div class="panel">
            <img src="assets/simple-questions.png"/>
            <img src="assets/code.png"/>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="t" id="tab6">
        <label for="tab6">simplicity</label>
        <div tab-content>
          <div class="panel">
            <img src="assets/simplicity-human3-1.png"/>
          </div>
          <div class="panel">
            <img src="assets/call-centre-1.png"/>
            <img src="assets/app-flipped.png"/>
          </div>
        </div>
      </li>
    </ul>
    &nbsp;
  </div>
</div>

<div class="anti_block">
  RBS ARE USING WATSON
	<p>“LUVO FREES ADVISORS FROM SPENDING TIME ON SIMPLE, EASILY-ADDRESSED QUERIES SO THEY CAN HELP CUSTOMERS WITH MORE COMPLEX ISSUES AND QUESTIONS – IMPROVING THE EXPERIENCE OF BOTH PARTIES.”</p>
	<p class="author">JANE HOWARD, HEAD OF PERSONAL BANKING, ROYAL BANK OF SCOTLAND</p>
</div>

<div class="block">
<div class="inner_block">
	<div class="row">
		<div class="column" data-aos="zoom-in">
      <img src="assets/fast-build-time.png"/>
			<h3>EXCEPTIONALLY FAST BUILD TIME</h3>
      <p>Thanks to our unrivalled experience with this area of development, you can have your bespoke chatbot built, tested, and a minimum viable product ready to launch in around 3 weeks. Which means huge cost savings are just a few beta testers away.</p>
		</div>
		<div class="column" data-aos="zoom-in" data-aos-delay="100">
      <img src="assets/advanced-tech.png"/>
			<h3>THE MOST ADVANCED TECHNOLOGY</h3>
      <p>When it comes to cognitive virtual assistants, IBM Watson is top of the class. That’s why we use it. But technology is constantly advancing, so depending on your user requirements we’ll choose the software that fits your business best.</p>
		</div>
  </div>
	<div class="row">
		<div class="column" data-aos="zoom-in" data-aos-delay="200">
      <img src="assets/completely-custom.png"/>
			<h3>COMPLETELY CUSTOMISABLE</h3>
      <p>Your business is unlike any other, which is why all of our chatbots are built from scratch on our own (top secret) chatbot platform. They can be visually branded, programmed to use company tone of voice, and provide a recognisable customer experience that people will want to repeat.</p>
		</div>
		<div class="column" data-aos="zoom-in" data-aos-delay="300">
      <img src="assets/uses-natural-language.png"/>
			<h3>USES NATURAL LANGUAGE</h3>
      <p>IBM Watson has the best natural language processor on the market today. Conversations and transactions are natural rather than robotic, and it’s far less likely that a chatbot will misunderstand – or that a customer will slip through the cracks.</p>
		</div>
  </div>
	<div class="row">
		<div class="column" data-aos="zoom-in" data-aos-delay="400">
      <img src="assets/247.png"/>
			<h3>24/7 AVAILABILITY</h3>
      <p>A chatbot doesn’t need sleep. It doesn’t even need coffee. It can work for you 24/7, 365 days a year, and serve hundreds of customers at exactly the same time. Not only does this ease the pressure on your support team, it increases overall productivity.</p>
		</div>
		<div class="column" data-aos="zoom-in" data-aos-delay="500">
      <img src="assets/responsive.png"/>
			<h3>OPERATES RESPONSIVELY ACROSS ALL PLATFORMS</h3>
      <p>Desktop – check. Tablet – check. Smartphone – check. Amazon Echo – check. (Yes, they’re that advanced.) Whatever platforms your customers are on, your chatbot can be there too. People don’t have to visit your website or make a phone call, they can simply open an app they already have installed.</p>
		</div>
	</div>
</div>
</div>

<div class="anti_block">
	<p>THE FUTURE OF CUSTOMER SERVICE RESTS IN CHATBOTS. LET US BUILD ONE FOR YOU.</p>
</div>

<div class="block">
	<div class="inner_block">
		<h1><span>Contact</span></h1>
		<p>Drop us a line with any queries you might have via the contact form below</p>
    <form>
      <input class="text_input" id="contact_name" type="text" placeholder="name"/>
      <input class="text_input" id="contact_email" type="text" placeholder="e-mail"/>
      <textarea rows="10" class="text_input" id="contact_message" type="text" placeholder="message"></textarea>
      <input id="submit" type="submit"/>
    </form>
	</div>
</div>

<footer>
	{% include footer.html %}
</footer>

<script>
var splash_text_data = [
	'Artificial intelligence, humanised',
	'Zoom light years ahead of your competition',
	'Don’t wait for the customer service revolution. Become it.',
	'What if a bot could handle tasks traditionally done by humans? Now, it can.',
	'Watch 40%+ of your call centre costs evaporate',
	'Enterprise-class chatbots for progressive businesses'
];

var splash_text = document.getElementById('splash_text');
var count = 0;

setInterval(()=>{
	count = (count+1)%3;
	splash_text.innerHTML = splash_text_data[count];
}, 10000);

document.querySelector('#scrollButton>a').addEventListener('click', function(e) {
  e.preventDefault();
  document.querySelector('#overview').scrollIntoView({behavior: "smooth"});
});

AOS.init();
</script>
</body>
</html>
